{{ define "main" }}
	<div id="fb-root"></div>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
	<script>
		window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f)};return t}(document,"script","twitter-wjs"))
	</script>
	{{ if .Params.images }}
		<div class="post-header background" style="background-image: url({{ index .Params.images 0 }})">
			<div class="post-title my-auto-post container-sm">
				<h1 class="post-title-text text-white">{{ .Title }}</h1>
			</div>
		</div>
	{{ else }}
		<div class="post-header background">
			<div class="post-title my-auto container-sm">
				<h1 class="post-title-text">{{ .Title }}</h1>
			</div>
		</div>
	{{ end }}
	<div class="container-sm">
		<div class="post-author">
			<img src="/images/authors/{{ .Params.author | urlize }}.jpg" alt="{{ .Params.author }}" class="author-photo">
			<div class="author-info">
				<p class="author-name"><strong>{{ .Params.author }}</strong></p>
				{{ if .Params.role }}
					<p class="author-role">{{ .Params.role }}</p>
				{{ end }}
				<p class="post-date"><small>{{ .Date.Format "January.2.2006" }}</small></p>
			</div>
		</div>
	</div>
	<div class="post-reading-time">
		<span class="bg-scarlet text-white serif">{{ .ReadingTime }} minutes left</span>
	</div>
	<div class="container-sm">
		{{ if .Params.companies }}
			<div class="post-section">
				<h2 class="post-section-title text-blue">Companies</h2>
				<div class="post-section-columns">
					{{ range .Params.companies }}
						<p class="source-item">
							<span class="source-item-bullet"></span>
							<span>{{ . }}</span>
						</p>
					{{ end }}
				</div>
			</div>
		{{ end }}
		{{ if .Params.concepts }}
			<div class="post-section">
				<h2 class="post-section-title text-blue">Key concepts</h2>
				<div class="post-section-columns">
					{{ range .Params.concepts }}
						<p class="source-item">
							<span class="source-item-bullet"></span>
							<span>{{ . }}</span>
						</p>
					{{ end }}
				</div>
			</div>
		{{ end }}
		<div class="post-content">
			{{ .Content }}
		</div>
		{{ if .Params.tags }}
			<div class="post-section">
				<h2 class="post-section-title text-blue">Tags</h2>
				<div class="tags">
					{{ $tags := "tags" }}
					{{ range .Param $tags }}
						{{ $name := . }}
						{{ with $.Site.GetPage (printf "/%s/%s" $tags ($name | urlize)) }}
							<div class="tag"><a href="{{ .Permalink }}" class="text-white">{{ $name }}</a></div>
						{{ end }}
					{{ end }}
				</div>
			</div>
		{{ end }}
		{{ if .Params.sources }}
			<div class="post-section">
				<h2 class="post-section-title text-blue">Sources</h2>
				<div class="sources serif">
					{{ range $source, $values := .Params.sources }}
						<div class="source">
							<h3 class="source-title text-blue">{{ $source | humanize }}</h3>
							<div class="source-items">
								{{ range $item := $values }}
									<p class="source-item">
										<span class="source-item-bullet"></span>
										<a href="{{ $item.url }}" target="_blank">{{ $item.name }}</a>
									</p>
								{{ end }}
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		{{ end }}
		<div class="post-section">
			<h2 class="post-section-title text-blue">Share</h2>
			<div class="share">
				<a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-url="{{ .Permalink }}" data-text="{{ .Title }}" data-size="large">Tweet</a>
				<div style="padding: 0 5px"></div>
				<div class="fb-share-button" data-href="{{.Permalink}}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" class="fb-xfbml-parse-ignore">Share</a></div>
			</div>
		</div>
		{{ template "_internal/disqus.html" . }}
	</div>
{{ end }}
