<footer class="footer background text-gray" style="background-image: url(/images/footer-bg.jpg)">
	<div class="container">
		<div class="newsletter text-white">
			<h3 class="newsletter-title">Subscribe</h3>
			<p class="newsletter-subtitle">to our newsletter</p>
			<form name="newsletter" method="POST" data-netlify="true" class="newsletter-form">
				<div class="input-group">
					<input type="email" name="email" placeholder="E-mail address" autocomplete="off">
					<button type="submit" class="text-white">
						<i class="fas fa-chevron-right"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="footer-info">
			{{ if .Site.Params.brands }}
				<div class="footer-brands">
					{{ range $brand := .Site.Params.brands }}
						<a href="{{$brand.url}}" class="footer-brands-item">
							<span class="fa-stack fa-2x">
								<i class="fas fa-circle fa-stack-2x text-gray"></i>
								<i class="fab fa-{{$brand.name}} fa-stack-1x text-blue"></i>
							</span>
						</a>
					{{ end }}
				</div>
			{{ end }}
			<p class="footer-copyrigth text-center">Copyright &copy; {{ now.Format "2006" }} Macrowise. All rights reserved.</p>
		</div>
	</div>
</footer>