<header class="header">
	<div class="container">
		<nav class="navbar">
			<a href="{{ .Site.BaseURL }}" class="navbar-brand">
				<img src="/images/macrowise-logo.png" alt="">
			</a>
			<!-- <a href="{{ .Site.BaseURL }}" class="navbar-item text-scarlet">Home</a> -->
			{{ range $name, $values := .Site.Taxonomies.categories }}
				<a href="/categories/{{ $name | urlize }}" class="navbar-item text-scarlet">{{ $name | humanize }}</a>	
			{{ end }}
			<a href="#newsletter" class="navbar-item navbar-item-solid text-white" id="footer-trigger">Subscribe here</a>
		</nav>
	</div>
</header>