<header class="header">
	<div class="container">
		<nav class="navbar">
			<a href="{{ .Site.BaseURL }}" class="navbar-brand">
				<img src="/images/macrowise-logo.png" alt="">
			</a>
			<!-- <a href="{{ .Site.BaseURL }}" class="navbar-item text-scarlet">Home</a> -->
			<a href="/categories/provoking" class="navbar-item text-scarlet">Provoking thinking</a>
			<a href="/categories/takeaway" class="navbar-item text-scarlet">Takeaways</a>
			<a href="#footer" class="navbar-item navbar-item-solid text-white">Subscribe here</a>
		</nav>
	</div>
</header>