{{ define "main" }}
	<div class="home-intro background" style="background-image: url(/images/home-bg.jpg)">
		<div class="container my-auto">
			<div class="home-headline">
				<h1 class="home-headline-text">Focus on the <span class="headline-highlight">signal</span>,</h1>
				<h1 class="home-headline-text">avoid the noise<span class="headline-highlight">.</span></h1>
			</div>
			<p class="home-description">We are the intersection between digital assets and global megatrends. Quick takeaways, provoking thinking and actionable ideas.</p>
		</div>
	</div>
{{ end }}