{{ define "main" }}
	<div class="home-intro background" style="background-image: url(/images/home-bg-3.png)">
		<div class="container my-auto">
			<div class="home-headline serif">
				<h1 class="home-headline-text bg-blue text-white">Focus on the <span class="text-scarlet">signal</span>,</h1>
				<h1 class="home-headline-text bg-blue text-white">avoid the noise<span class="text-scarlet">.</span></h1>
			</div>
			<p class="home-description text-shadow-light">We are the intersection between digital assets and global megatrends. Quick takeaways, provoking thinking and actionable ideas.</p>
		</div>
	</div>
	<div class="category bg-porcelain">
		<img src="/images/icons/provoking_icon.svg" alt="" class="category-icon">
		<div class="container-sm">
			<h2 class="category-name serif text-blue">Provoking thinking</h2>
			<p class="category-description">Research pieces whose aim is to combine developments in blockchain with the most important megatrends in the global economy.</p>
			<div class="category-posts">
				{{ range last 2 (index .Site.Taxonomies.categories "provoking-thinking") }}
					<div class="category-post">
						<h3 class="category-post__title text-blue serif">{{ .Title }}</h3>
						<p class="category-post__description">{{ .Description }}</p>
						<a href="{{ .Permalink }}" class="bg-scarlet text-white">Read more</a>
					</div>
				{{ end }}
			</div>
			<p class="text-center category-all">
				<a href="/categories/provoking-thinking" class="bg-blue text-white serif">See all articles</a>
			</p>
		</div>
	</div>
	<div class="category bg-scarlet">
			<img src="/images/icons/takeaway_icon.svg" alt="" class="category-icon">
			<div class="container-sm">
				<h2 class="category-name serif text-white">Takeaways</h2>
				<p class="category-description text-white">Executive summaries of different developments in the crypto space.</p>
				<div class="category-posts">
					{{ range last 2 .Site.Taxonomies.categories.takeaway }}
						<div class="category-post">
							<h3 class="category-post__title serif">{{ .Title }}</h3>
							<p class="category-post__description">{{ .Description }}</p>
							<a href="{{ .Permalink }}" class="bg-blue text-white">Read more</a>
						</div>
					{{ end }}
				</div>
				<p class="text-center category-all">
					<a href="/categories/takeaway" class="bg-white text-scarlet serif">See all articles</a>
				</p>
			</div>
		</div>
{{ end }}
